body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    font-family: "gilroy";
    padding: 0;
    background: #f4f4f4;
}

header {
    
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1707175834668-553f512d198e?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
header p{
    color: rgba(253, 243, 243, 0.853);
    font-weight: 200;
}

nav {
    background: #444;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}
#about{
    background-image: url(https://images.unsplash.com/photo-1707175834460-af5028984a8e?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    color: rgb(201, 2, 2);
    scroll-margin-bottom: 100px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00ccff;
}

section { 
    padding: 2rem;
    margin: 2rem 0;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#skills ul {
    list-style: none;
    padding: 0;
}
#skills{
    background-image: url(https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?q=80&w=1730&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#skills ul li {
    background: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    background: #ddd;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    width: 100px;
    text-align: center;
}

.rating-bar {
    background: #4caf50;
    border-radius: 5px;
    height: 100%;
}

#projects{
    background-image: url(https://images.unsplash.com/photo-1707175834429-dcfdf423e2ae?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    color: #fff;
}
.project {
    margin: 1rem 0;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

a {
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}
